doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme")
    link(rel="stylesheet" href="/css/styles.min.css")
  body(style='width:100%;background-color:rgb(174,174,174);/*background-image:url("/img/drawing.svg");*//*background-repeat:no-repeat;*//*background-size:cover;*/background:url(/img/drawing.svg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;')
    nav.navbar.navbar-light.navbar-expand-md
      .container-fluid
        a.navbar-brand(href="#" style='background-image:url("/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
        button.navbar-toggler(data-toggle="collapse" data-target="#navcol-1")
          span.sr-only Toggle navigation
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav
    .container.d-flex(style="width:100%;height:90vh;")
      .col(style="margin-top:30px;padding-right:15px;padding-left:0px;margin-left:20px;")
        .row(style="height:50%;")
          .col(style="padding-left:0px;")
            p.text-center(style="color:rgb(255,255,255);font-size:20px;font-family:ABeeZee, sans-serif;margin-top:30px;") Log in with existing Account
            hr(style="background-color:#ff0000;height:1px;")
            form(action="/entry/login" method="post")
              div
                p.text-left(style="color:rgb(255,255,255);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;") Email Address
                input(type="text" name="email" required="")
                p.text-left(style="color:rgb(255,255,255);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;") Password
                input(type="password" name="password" required="")
                div(style="padding-top:16px;")
                  button.btn.btn-primary(type="submit" style="font-size:12px;background-color:rgb(211,0,0);font-family:ABeeZee, sans-serif;color:rgb(255,255,255);") Log in!
        .row
          .col
            p
      .col(style="margin-top:30px;")
        .row(style="height:50%;")
          .col
            p
        .row
          .col(style="padding-left:0px;margin-left:-45px;")
            p.text-center(style="color:rgb(0,0,0);font-size:20px;font-family:ABeeZee, sans-serif;margin-top:5px;") Create a new Account
            hr(style="background-color:#ff0000;height:1px;")
            form(action="/entry/register" method="post")
              div
                p.text-left(style="color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;") Email Address
                input(type="text" name="email" required="")
                p.text-left(style="color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;") Password
                input(type="password" name="password" required="")
                p.text-left(style="color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-bottom:4px;margin-top:16px;") Confirm Password
                input(type="password" name="password_repeat" required="")
                div(style="padding-top:16px;")
                  button.btn.btn-primary(type="submit" style="font-size:12px;background-color:rgb(211,0,0);font-family:ABeeZee, sans-serif;color:rgb(255,255,255);") Register!
    #bottomspacer
    .footer-dark(style="height:40px;padding:0;width:100%;background-color:rgb(68,68,68);")
      p.copyright(style="padding-top:10px;color:rgb(255,255,255);") Straight As d.o.o. © 2019
    script(src="/js/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(type='text/javascript', src='/js/stanje.js')