doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Error
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=ABeeZee')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Acme')
    link(rel='stylesheet', href='/css/styles.min.css')
  body(style='width:100%;background-color:rgb(174,174,174);/*background-image:url("/img/drawing.svg");*//*background-repeat:no-repeat;*//*background-size:cover;*/background:url(/img/drawing.svg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;')
    nav.navbar.navbar-light.navbar-expand-md
      .container-fluid
        a.navbar-brand(href='#', style='background-image:url("/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
        button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
          span.sr-only Toggle navigation
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav
    section.d-flex.justify-content-center.align-items-center.align-content-center(style='width:70%;height:100vh;margin-left:15%;background-color:rgba(238,238,238,0);')
      .container(style='margin-right:20px;margin-left:20px;background-color:#eeeeee;')
        div(style='height:100px;')
        h3.text-center(style='margin-left:10px;')= error.status
        .form-group
          p.text-center(style='color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;margin-left:10px;')= error.message
        .form-group.d-inline-block.d-flex.justify-content-center
          button.btn.btn-primary(onclick="window.history.back()", style='font-size:12px;background-color:rgb(211,0,0);font-family:ABeeZee, sans-serif;color:rgb(255,255,255);margin-left:10px;') Back
        div(style='height:100px;')
    .footer-dark(style='height:40px;padding:0;width:100%;background-color:rgb(68,68,68);')
      p.copyright(style='padding-top:10px;color:rgb(255,255,255);') Straight As d.o.o. © 2019
    script(src='/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')