include _include/helperFunctions.pug

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/fonts/ionicons.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=ABeeZee')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Acme')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  link(rel='stylesheet', href='/css/stylesHome.min.css')
nav.navbar.navbar-light.navbar-expand-md.fixed-top(style='width:100%;background-color:#dedede;height:50px;')
  .container-fluid
    a.navbar-brand(href='#', style='background-image:url("/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
    button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1', style='background-color:#c6c6c6;')
      i.icon.ion-android-menu
    #navcol-1.collapse.navbar-collapse
      ul.nav.navbar-nav.float-right.ml-auto(style='background-color:#dedede;')
        li.nav-item(role='presentation')
          a.nav-link(href='/home', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Home
        li.nav-item(role='presentation')
          a.nav-link(href='/map', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Food
        li.nav-item(role='presentation')
          a.nav-link(href='/events/public', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Events
        li.nav-item(role='presentation')
          a.nav-link(href='/bus', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Bus
        if isUserUrednik
          li.nav-item(role="presentation")
            a.nav-link(href="/events/preview" data-bs-hover-animate="pulse" style="color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;") Event Manager
        li.nav-item(role='presentation')
          a.nav-link(href='/entry/settings', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;') Change password
        li.nav-item(role='presentation')
          a.nav-link.active(href='/entry/logout', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log out
form(method='post', action='/home/adminMessage')
  #newMessage.modal.fade(role='dialog', tabindex='-1')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h4.modal-title System Message
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .form-group
            label(for='input_todo_text') Message:
            input#input_todo_text.form-control.form-control-lg(type='text', placeholder='Enter message', autofocus='', style='font-size:16px;height:150px;', name='message', required='')
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Close
          button.btn.btn-danger(type='submit') Save
#modal_urnik.modal.fade(role="dialog" tabindex="-1")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h4.modal-title Course
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        .form-group
          label(for="input_course_title") Course title:
          form(method="post")
            input#input_course_title.form-control(type="text" placeholder="Enter course title" autofocus="" maxlength="3")
      .modal-footer
        button.btn.btn-light(type="button" data-dismiss="modal") Close
        button.btn.btn-danger#delete_timetable_slot(type="button" onclick="deleteSlot(this)") Delete
        button.btn.btn-danger#button_timetable_slot(type="button" onclick="updateOrAddSlot(this)") Save
#modal_todo.modal.fade(role="dialog" tabindex="-1")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h4.modal-title Todo
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        .form-group
          label(for="input_todo_hehe") Description:
          input#input_todo_hehe.form-control.form-control-lg(type="text" placeholder="Enter note text" autofocus="" style="font-size:16px;height:150px;")
      .modal-footer
        button.btn.btn-light(type="button" data-dismiss="modal") Close
        button.btn.btn-danger(type="button", onclick="addNewNote()") Save
#modal_koledar.modal.fade(role="dialog" tabindex="-1")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h4.modal-title Calendar event
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        .form-group
          label(for="input_calendar_title") Event name:
          form(method="post")
            input#input_calendar_title.form-control(type="text" placeholder="Enter event name" autofocus="")
        .form-group
          label(for="input_calendar_start") Start time:
          form.form-inline(method="post")
            input#input_calendar_start_date.form-control(type="date" style="width:50%;")
            input#input_calendar_start_date_time.form-control(type="time" style="width:50%;")
        .form-group
          label(for="input_calendar_end_date") End time:
          form.form-inline(method="post")
            input#input_calendar_end_date.form-control(type="date" style="width:50%;")
            input#input_calendar_end_date_time.form-control(type="time" style="width:50%;")
        .form-group
          label(for="input_calendar_description") Description:
          form(method="post")
            input#input_calendar_description.form-control(type="text" placeholder="Enter event description" autofocus="" style="height:100px;")
      .modal-footer
        button.btn.btn-light(type="button" data-dismiss="modal") Close
        button.btn.btn-danger#delete_calendar_button(type="button" onclick="deleteCalendarEvent()") Delete
        button.btn.btn-danger#save_calendar_button(type="button" onclick="saveCalendarEvent()") Save
        button.btn.btn-danger#add_calendar_button(type="button" onclick="addCalendarEvent()") Add
if !isUserAdmin
  section.d-flex.justify-content-center.align-items-center.align-content-center(style="width:90%;margin-left:5%;background-color:#eeeeee;")
    #maindiv.d-flex.flex-row(style="width:100%;height:calc(100vh - 50px);margin-top:50px;/*float:left;*/")
      div(style="width:100%;")
        div(style="width:100%;height:50%;display:grid;/*border-right:2px solid rgba(0,0,0,0.43);*/")
          .d-inline-flex.flex-row.justify-content-center.align-items-center.align-content-center.align-self-end(style="height:35px;")
            button#prevMonth.btn.btn-secondary(type="button" style="padding-top:0px;padding-bottom:0px;" onclick="genPrevMonth()")
              i.icon.ion-android-arrow-back
            p#monthName.text-center(style="font-family:ABeeZee, sans-serif;margin-top:16px;margin-right:45px;margin-left:45px;font-size:18px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;")
              strong#monthNameOriginal
              br
            button#nextMonth.btn.btn-secondary(type="button" style="padding-top:0px;padding-bottom:0px;padding-right:12px;padding-left:12px;" onclick="genNextMonth()")
              i.icon.ion-android-arrow-forward
          .table-responsive(style="overflow:hidden;overflow-y:scroll;")
            table.table
              thead
                tr
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Monday
                  th(style="font-size:12px;border-bottom:2px solid gray;font-family:ABeeZee, sans-serif;width:14.2857143%;") Tuesday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Wednesday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Thursday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Friday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Saturday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;border-bottom:2px solid gray;width:14.2857143%;") Sunday
              tbody#koledar_straightAs
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                tr
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
                  td.calendarSlot(data-bs-hover-animate="flash")
                    i.icon.ion-android-bookmark(style="font-size:20px;display:none;")
          button.btn.btn-secondary.d-block.float-right.align-self-end(type="button" style="margin-top:7px;margin-right:7px;margin-left:7px;margin-bottom:7px;width:166px;float:right;" onclick="editCalendar()") Edit Calendar
        div(style="height:50%;display:grid;width:100%;overflow:scroll;border-top:2px solid rgba(0,0,0,0.43);border-right:2px solid rgba(0,0,0,0.43);")
          #calendartable.table-responsive
            table.table
              thead#tablehead
                tr
                  th
                  th(style="background-color:#e0e0e0;font-size:12px;font-family:ABeeZee, sans-serif;") Monday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;") Tuesday
                  th(style="background-color:#e0e0e0;font-size:12px;font-family:ABeeZee, sans-serif;") Wednesday
                  th(style="font-size:12px;font-family:ABeeZee, sans-serif;") Thursday
                  th(style="background-color:#e0e0e0;font-size:12px;font-family:ABeeZee, sans-serif;") Friday
                  th(style="color:rgb(195,0,0);font-size:12px;font-family:ABeeZee, sans-serif;") Saturday
                  th(style="color:rgb(195,0,0);background-color:#e0e0e0;font-size:12px;font-family:ABeeZee, sans-serif;") Sunday
              tbody
                +appendUrnik(content.timetable)
      div(style="height:100%;width:100%;float:left;margin-right:5px;overflow-y:scroll;")
        .d-inline-flex.flex-row.justify-content-center.align-items-center.align-content-center.align-self-end(style="height:35px;width:100%;")
          p.text-center(style="font-family:ABeeZee, sans-serif;margin-top:16px;margin-right:45px;margin-left:45px;font-size:18px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;")
            strong Notes
            br
          button#addNote.btn.btn-secondary(type="button" style="padding-top:0px;padding-bottom:0px;padding-right:12px;padding-left:12px;", onclick='openModalTodo()')
            i.icon.ion-android-add-circle(style="color:rgb(238,238,238);")
        .d-flex.flex-row#all_note_preview(style="margin-top:5px;margin-right:5px;margin-bottom:5px;margin-left:5px;")
          div(style="width:100%;")
            +appendTODO(content1Todo)
          div(style="width:100%;")
            +appendTODO(content2Todo)
          div(style="width:100%;")
            +appendTODO(content3Todo)
else
  section.d-flex.justify-content-center.align-items-center.align-content-center(style="width:90%;margin-left:5%;background-color:#eeeeee;")
    #maindiv.text-center(style="width:100%;height:calc(100vh - 50px);margin-top:50px;/*float:left;*/")
      button.btn.btn-dark(data-toggle='modal', data-target='#newMessage', style='margin-top:25%;transform:translateY(-50%);') New Message
.footer-dark(style='height:40px;padding:0;width:100%;background-color:rgb(68,68,68);')
  p.copyright(style='padding-top:10px;color:rgb(255,255,255);') Straight As d.o.o. &copy; 2019
script(src='/js/jwt-decode.min.js')
script(src='/js/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/js/script.min.js')
script(type='text/javascript', src='/js/stanje.js')
script(type='text/javascript', src='/js/homeSettings.js')
