doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Map
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='fonts/ionicons.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=ABeeZee')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Acme')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='css/styles.min.css')
  body(style='width:100%;background-color:rgb(174,174,174);/*background-image:url("assets/img/drawing.svg");*//*background-repeat:no-repeat;*//*background-size:cover;*/background:url(assets/img/drawing.svg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:100vh;')
    nav.navbar.navbar-light.navbar-expand-md.fixed-top(style='width:100%;background-color:#dedede;height:50px;')
      .container-fluid
        a.navbar-brand(href='#', style='background-image:url("assets/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
        button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1', style='background-color:#c6c6c6;')
          i.icon.ion-android-menu
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.float-right.ml-auto(style='background-color:#dedede;')
            if isUserLoggedIn
              li.nav-item(role='presentation')
                a.nav-link(href='/home', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Home
            li.nav-item(role='presentation')
              a.nav-link(href='/map', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Food
            li.nav-item(role='presentation')
              a.nav-link(href='/events/public', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Events
            li.nav-item(role='presentation')
              a.nav-link(href='/bus', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Bus
            if isUserUrednik
              li.nav-item(role="presentation")
                a.nav-link(href="/events/preview" data-bs-hover-animate="pulse" style="color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;") Event Manager
            if isUserLoggedIn
              li.nav-item(role='presentation')
                a.nav-link(href='/entry/settings', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;') Change password
              li.nav-item(role='presentation')
                a.nav-link.active(href='/entry/logout', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log out
            else
              li.nav-item(role='presentation')
                a.nav-link.active(href='/entry', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log in
    section.d-flex.justify-content-center.align-items-center.align-content-center(style='width:70%;height:100vh;margin-left:15%;background-color:#eeeeee;')
      .container(style='margin-right:15px;margin-left:20px;')
        h4.text-left Map of Restaurants
        #googleMap.d-inline-block(style='height:75vh;background-color:#ae8351;width:100%;')
    .footer-dark(style='height:40px;padding:0;width:100%;background-color:rgb(68,68,68);')
      p.copyright(style='padding-top:10px;color:rgb(255,255,255);') Straight As d.o.o. © 2019
    script(src='js/maps.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFpco1Si1VVnT93GNcoUiYnQroAN1FsmI&callback=mapInit')
    script(src='js/jquery.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/stanje.js')
