extends layoutUser

block content
  .containerCustom
    .login-content
      form#login-form(method='post', action='register', autocomplete="off")
        h3.form-title Login
        .form-group.has-feedback
          input#email.form-input(type='text', minlength='6', maxlength='20', name='email', placeholder='Email', required='')
          i.glyphicon.glyphicon-user.form-control-feedback
        .form-group.has-feedback
          input#Password.form-input(type='password', maxlength='20', name='password', placeholder='Password', required='')
          i.glyphicon.glyphicon-lock.form-control-feedback
        .form-group
          button.custom-button.btn-login(type='submit') Login
      p.login-paragraph
        | Don't have an account?  
        a.login(href='register') Sign up
